Source: pagein
Rules-Requires-Root: no
Section: admin
Priority: optional
Maintainer: Colin Ian King <colin.i.king@gmail.com>
Standards-Version: 4.7.0
Build-Depends: debhelper (>= 13),
               debhelper-compat (=13)
Homepage: https://github.com/ColinIanKing/pagein

Package: pagein
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: tool to force swapped out pages to be resident in memory
 pagein will attempt to swap in pages that are currently swapped out
 to make the pages resident in memory. It is mainly useful for testing
 the VM subsystem.
